In [6]:
import sqlite3
from datetime import date, timedelta
import random

In [7]:
# Connect to the SQLite database (or create it if it doesn't exist)
connection = sqlite3.connect("library.db")
cursor = connection.cursor()

In [8]:
# Create the Authors table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Authors (
    AuthorID INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT NOT NULL,
    Country TEXT
)
''')

# Create the Books table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Books (
    BookID INTEGER PRIMARY KEY AUTOINCREMENT,
    Title TEXT NOT NULL,
    Genre TEXT,
    AuthorID INTEGER NOT NULL,
    FOREIGN KEY (AuthorID) REFERENCES Authors(AuthorID)
)
''')

# Create the Borrowers table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Borrowers (
    BorrowerID INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT NOT NULL,
    Email TEXT UNIQUE NOT NULL
)
''')

# Create the BorrowedBooks table
cursor.execute('''
CREATE TABLE IF NOT EXISTS BorrowedBooks (
    BorrowedID INTEGER PRIMARY KEY AUTOINCREMENT,
    BorrowerID INTEGER NOT NULL,
    BookID INTEGER NOT NULL,
    BorrowedDate DATE NOT NULL,
    ReturnDate DATE,
    FOREIGN KEY (BorrowerID) REFERENCES Borrowers(BorrowerID),
    FOREIGN KEY (BookID) REFERENCES Books(BookID)
)
''')

In [9]:
# Insert authors

authors = [
    ("J.K. Rowling", "United Kingdom"),
    ("George R.R. Martin", "United States"),
    ("J.R.R. Tolkien", "United Kingdom"),
    ("Agatha Christie", "United Kingdom"),
    ("Stephen King", "United States"),
    ("Isaac Asimov", "Russia"),
    ("Margaret Atwood", "Canada"),
    ("Jane Austen", "United Kingdom"),
    ("Charles Dickens", "United Kingdom"),
    ("Mark Twain", "United States"),
    ("Leo Tolstoy", "Russia"),
    ("Ernest Hemingway", "United States"),
    ("F. Scott Fitzgerald", "United States"),
    ("Harper Lee", "United States"),
    ("Victor Hugo", "France"),
    ("Gabriel Garcia Marquez", "Colombia"),
    ("Toni Morrison", "United States"),
    ("H.G. Wells", "United Kingdom"),
    ("Franz Kafka", "Austria-Hungary"),
    ("Mary Shelley", "United Kingdom")
]
cursor.executemany("INSERT INTO Authors (Name, Country) VALUES (?, ?)", authors)

# Insert books
books = [
    ("Harry Potter and the Sorcerer's Stone", "Fantasy", 1),
    ("Harry Potter and the Chamber of Secrets", "Fantasy", 1),
    ("A Game of Thrones", "Fantasy", 2),
    ("The Hobbit", "Fantasy", 3),
    ("Murder on the Orient Express", "Mystery", 4),
    ("The Shining", "Horror", 5),
    ("Foundation", "Science Fiction", 6),
    ("The Handmaid's Tale", "Dystopian", 7),
    ("Pride and Prejudice", "Romance", 8),
    ("Great Expectations", "Classic", 9),
    ("Adventures of Huckleberry Finn", "Adventure", 10),
    ("War and Peace", "Historical Fiction", 11),
    ("The Old Man and the Sea", "Classic", 12),
    ("The Great Gatsby", "Classic", 13),
    ("To Kill a Mockingbird", "Classic", 14),
    ("Les Miserables", "Classic", 15),
    ("One Hundred Years of Solitude", "Magic Realism", 16),
    ("Beloved", "Historical Fiction", 17),
    ("The Time Machine", "Science Fiction", 18),
    ("Frankenstein", "Horror", 20)
]
cursor.executemany("INSERT INTO Books (Title, Genre, AuthorID) VALUES (?, ?, ?)", books)

# Insert borrower names and emails
borrowers = [
    ("Alice Johnson", "alice.johnson@example.com"),
    ("Bob Smith", "bob.smith@example.com"),
    ("Charlie Brown", "charlie.brown@example.com"),
    ("Diana Prince", "diana.prince@example.com"),
    ("Eve Adams", "eve.adams@example.com"),
    ("Frank Castle", "frank.castle@example.com"),
    ("Grace Hopper", "grace.hopper@example.com"),
    ("Hank Pym", "hank.pym@example.com"),
    ("Ivy Carter", "ivy.carter@example.com"),
    ("Jack Ryan", "jack.ryan@example.com"),
    ("Karen Page", "karen.page@example.com"),
    ("Liam Neeson", "liam.neeson@example.com"),
    ("Maggie Smith", "maggie.smith@example.com"),
    ("Nina Simone", "nina.simone@example.com"),
    ("Oscar Wilde", "oscar.wilde@example.com"),
    ("Pam Beesly", "pam.beesly@example.com"),
    ("Quinn Fabray", "quinn.fabray@example.com"),
    ("Rachel Green", "rachel.green@example.com"),
    ("Steve Rogers", "steve.rogers@example.com"),
    ("Tony Stark", "tony.stark@example.com")
]
cursor.executemany("INSERT INTO Borrowers (Name, Email) VALUES (?, ?)", borrowers)

# Insert borrow records
borrowed_books = []
for i in range(20):
    borrower_id = random.randint(1, 20)
    book_id = random.randint(1, 20) 
    borrowed_date = date(2024, 11, 1) + timedelta(days=random.randint(-30, 30))
    return_date = (
        borrowed_date + timedelta(days=random.randint(1, 15)) 
        if random.random() > 0.3  
        else None
    )
    borrowed_books.append((borrower_id, book_id, borrowed_date, return_date))

cursor.executemany(
    "INSERT INTO BorrowedBooks (BorrowerID, BookID, BorrowedDate, ReturnDate) VALUES (?, ?, ?, ?)",
    borrowed_books
)

In [10]:
# Commit changes and close the connection
connection.commit()
connection.close()

In [11]:
# retreive all books and their authors

In [12]:
# insert a new borrower

In [13]:
# update a borrower's return date

In [14]:
# find overdue books (using today's date)

In [16]:
connection = sqlite3.connect("library.db")
cursor = connection.cursor()
print("\n1. All Books and Their Authors:")
query1 = """
SELECT 
    Books.Title AS BookTitle,
    Authors.Name AS AuthorName
FROM 
    Books
JOIN 
    Authors
ON 
    Books.AuthorID = Authors.AuthorID;
"""
cursor.execute(query1)
results1 = cursor.fetchall()
for row in results1:
    print(f"Book: {row[0]}, Author: {row[1]}")

# 2. Insert a new borrower
print("\n2. Insert a New Borrower:")
query2 = """
INSERT INTO Borrowers (Name, Email)
VALUES ('Bruce Wayne', 'bruce.wayne@example.com');
"""
cursor.execute(query2)
connection.commit()  # Commit the changes
print("New borrower 'Bruce Wayne' added.")

# 3. Update a borrower's return date
print("\n3. Update a Borrower's Return Date:")
query3 = """
UPDATE BorrowedBooks
SET ReturnDate = '2024-11-18'
WHERE BorrowerID = 2 AND BookID = 3;
"""
cursor.execute(query3)
connection.commit()
print("Return date updated for BorrowerID = 2, BookID = 3.")

# 4. Advanced Query: Find overdue books
print("\n4. Overdue Books:")
query4 = """
SELECT 
    BorrowedBooks.BorrowedID,
    Borrowers.Name AS BorrowerName,
    Books.Title AS BookTitle,
    BorrowedBooks.BorrowedDate
FROM 
    BorrowedBooks
JOIN 
    Borrowers
ON 
    BorrowedBooks.BorrowerID = Borrowers.BorrowerID
JOIN 
    Books
ON 
    BorrowedBooks.BookID = Books.BookID
WHERE 
    BorrowedBooks.ReturnDate IS NULL
    AND BorrowedBooks.BorrowedDate < DATE('2024-11-08'); -- Assuming a 10-day loan period
"""
cursor.execute(query4)
results4 = cursor.fetchall()
for row in results4:
    print(f"BorrowedID: {row[0]}, Borrower: {row[1]}, Book: {row[2]}, Borrowed Date: {row[3]}")

# Close the connection
connection.close()

1. All Books and Their Authors:
Book: Harry Potter and the Sorcerer's Stone, Author: J.K. Rowling
Book: Harry Potter and the Chamber of Secrets, Author: J.K. Rowling
Book: A Game of Thrones, Author: George R.R. Martin
Book: The Hobbit, Author: J.R.R. Tolkien
Book: Murder on the Orient Express, Author: Agatha Christie
Book: The Shining, Author: Stephen King
Book: Foundation, Author: Isaac Asimov
Book: The Handmaid's Tale, Author: Margaret Atwood
Book: Pride and Prejudice, Author: Jane Austen
Book: Great Expectations, Author: Charles Dickens
Book: Adventures of Huckleberry Finn, Author: Mark Twain
Book: War and Peace, Author: Leo Tolstoy
Book: The Old Man and the Sea, Author: Ernest Hemingway
Book: The Great Gatsby, Author: F. Scott Fitzgerald
Book: To Kill a Mockingbird, Author: Harper Lee
Book: Les Miserables, Author: Victor Hugo
Book: One Hundred Years of Solitude, Author: Gabriel Garcia Marquez
Book: Beloved, Author: Toni Morrison
Book: The Time Machine, Author: H.G. Wells
Book: Frankenstein, Author: Mary Shelley

2. Insert a New Borrower:
New borrower 'Bruce Wayne' added.

3. Update a Borrower's Return Date:
Return date updated for BorrowerID = 2, BookID = 3.

4. Overdue Books:
BorrowedID: 3, Borrower: Ivy Carter, Book: Les Miserables, Borrowed Date: 2024-10-05
BorrowedID: 4, Borrower: Grace Hopper, Book: The Handmaid's Tale, Borrowed Date: 2024-10-02
BorrowedID: 7, Borrower: Frank Castle, Book: Harry Potter and the Sorcerer's Stone, Borrowed Date: 2024-10-31
BorrowedID: 10, Borrower: Oscar Wilde, Book: Murder on the Orient Express, Borrowed Date: 2024-10-10