In [2]:
import sqlite3
from datetime import date, timedelta
import random

In [6]:
# retreive all books and their authors 
# join based on author id
connection = sqlite3.connect("library.db")
cursor = connection.cursor()
query1 = """ Select B.title AS book_title, A.name as author_name FROM Books AS B
join Authors AS A ON B.AuthorID = A.AuthorID; """
cursor.execute(query1)
results1 = cursor.fetchall()
for row in results1:
    print(f"Book: {row[0]}, Author: {row[1]}")

Book: Harry Potter and the Sorcerer's Stone, Author: J.K. Rowling
Book: Harry Potter and the Chamber of Secrets, Author: J.K. Rowling
Book: A Game of Thrones, Author: George R.R. Martin
Book: The Hobbit, Author: J.R.R. Tolkien
Book: Murder on the Orient Express, Author: Agatha Christie
Book: The Shining, Author: Stephen King
Book: Foundation, Author: Isaac Asimov
Book: The Handmaid's Tale, Author: Margaret Atwood
Book: Pride and Prejudice, Author: Jane Austen
Book: Great Expectations, Author: Charles Dickens
Book: Adventures of Huckleberry Finn, Author: Mark Twain
Book: War and Peace, Author: Leo Tolstoy
Book: The Old Man and the Sea, Author: Ernest Hemingway
Book: The Great Gatsby, Author: F. Scott Fitzgerald
Book: To Kill a Mockingbird, Author: Harper Lee
Book: Les Miserables, Author: Victor Hugo
Book: One Hundred Years of Solitude, Author: Gabriel Garcia Marquez
Book: Beloved, Author: Toni Morrison
Book: The Time Machine, Author: H.G. Wells
Book: Frankenstein, Author: Mary Shelley

In [ ]:
# insert a new borrower

NameError: name 'cursor' is not defined

In [8]:
# update a borrower's return date

In [9]:
# find overdue books (using today's date)