In [1]:
import sqlite3
from datetime import date, timedelta
import random

In [8]:
# Connect to the SQLite database (or create it if it doesn't exist)
connection = sqlite3.connect("library.db")
cursor = connection.cursor()

In [6]:
# retreive all books and their authors 
# join based on author id
connection = sqlite3.connect("library.db")
cursor = connection.cursor()
query1 = """ Select B.title AS book_title, A.name as author_name FROM Books AS B
join Authors AS A ON B.AuthorID = A.AuthorID; """
cursor.execute(query1)
results1 = cursor.fetchall()
for row in results1:
    print(f"Book: {row[0]}, Author: {row[1]}")

Book: Harry Potter and the Sorcerer's Stone, Author: J.K. Rowling
Book: Harry Potter and the Chamber of Secrets, Author: J.K. Rowling
Book: A Game of Thrones, Author: George R.R. Martin
Book: The Hobbit, Author: J.R.R. Tolkien
Book: Murder on the Orient Express, Author: Agatha Christie
Book: The Shining, Author: Stephen King
Book: Foundation, Author: Isaac Asimov
Book: The Handmaid's Tale, Author: Margaret Atwood
Book: Pride and Prejudice, Author: Jane Austen
Book: Great Expectations, Author: Charles Dickens
Book: Adventures of Huckleberry Finn, Author: Mark Twain
Book: War and Peace, Author: Leo Tolstoy
Book: The Old Man and the Sea, Author: Ernest Hemingway
Book: The Great Gatsby, Author: F. Scott Fitzgerald
Book: To Kill a Mockingbird, Author: Harper Lee
Book: Les Miserables, Author: Victor Hugo
Book: One Hundred Years of Solitude, Author: Gabriel Garcia Marquez
Book: Beloved, Author: Toni Morrison
Book: The Time Machine, Author: H.G. Wells
Book: Frankenstein, Author: Mary Shelley

In [8]:
# insert a new borrower

query2 = """ INSERT INTO Borrowers (Name, Email)
VALUES ('Roda Abdulkadir', 'rodaabdulkadir@email.com')
"""
cursor.execute(query2)
connection.commit() 
print(" Adding new borrower Roda Abdulkadir")

 Adding new borrower Roda Abdulkadir

In [11]:
# update a borrower's return date 

query3 = """ UPDATE BorrowedBooks
SET ReturnDate = '2024-11-19'
WHERE BorrowerID = 18 AND BookID = 12
"""
cursor.execute(query3)
connection.commit()
print("\n3. Update a Borrower's Return Date:")

3. Update a Borrower's Return Date:

In [9]:
# find overdue books (using today's date)

In [5]:
# 1. Convert All Book Titles to Uppercase

query1 = """
SELECT UPPER(title) as upper_case_title
FROM books;
"""
cursor.execute(query1)
result1 = cursor.fetchall()
print("1. Convert All Book Titles to Uppercase:")
for row in result1:

    print(row)

1. Convert All Book Titles to Uppercase:
("HARRY POTTER AND THE SORCERER'S STONE",)
('HARRY POTTER AND THE CHAMBER OF SECRETS',)
('A GAME OF THRONES',)
('THE HOBBIT',)
('MURDER ON THE ORIENT EXPRESS',)
('THE SHINING',)
('FOUNDATION',)
("THE HANDMAID'S TALE",)
('PRIDE AND PREJUDICE',)
('GREAT EXPECTATIONS',)
('ADVENTURES OF HUCKLEBERRY FINN',)
('WAR AND PEACE',)
('THE OLD MAN AND THE SEA',)
('THE GREAT GATSBY',)
('TO KILL A MOCKINGBIRD',)
('LES MISERABLES',)
('ONE HUNDRED YEARS OF SOLITUDE',)
('BELOVED',)
('THE TIME MACHINE',)
('FRANKENSTEIN',)

In [6]:
# 2. Find Borrowers with Short Names (<= 10 characters)

query2 = """
SELECT Name
From Borrowers
WHERE LENGTH(NAME) <10;

"""
cursor.execute(query2)
result2 = cursor.fetchall()
print("\n2. Find Borrowers with Short Names:")
for row in result2:

    print(row)

2. Find Borrowers with Short Names:
('Bob Smith',)
('Eve Adams',)
('Hank Pym',)
('Jack Ryan',)

In [20]:
# 3. Count Books Borrowed Each Year

query3 = """
SELECT COUNT(BookID) AS books_borrowed, STRFTIME('%Y', BorrowedDate) AS Year
FROM BorrowedBooks
GROUP BY Year;
"""
cursor.execute(query3)
result3 = cursor.fetchall()
print("\n3. Count Books Borrowed Each Year:")
for row in result3:
    print(row)

3. Count Books Borrowed Each Year:
(20, '2024')

In [ ]:
# 7. Count Books Borrowed on Each Day of the Week

query7 = """
SELECT COUNT(BookID) AS books_borrowed, STRFTIME('%w', BorrowedDate) AS DayOfWeek
FROM BorrowedBooks
GROUP BY DayOfWeek;
"""
cursor.execute(query7)
result7 = cursor.fetchall()
print("\n7. Count Books Borrowed on Each Day of the Week:")
for row in result7:
    print(row)

7. Count Books Borrowed on Each Day of the Week:
(3, '0')
(3, '2')
(5, '3')
(3, '4')
(2, '5')
(4, '6')

In [47]:
# 8. Find the Most Common Day of the Week a Book Was Borrowed

query8 = """
SELECT COUNT(BookID) AS books_borrowed, STRFTIME('%w', BorrowedDate) AS DayOfWeek
FROM BorrowedBooks
GROUP BY DayOfWeek 
ORDER BY books_borrowed DESC
LIMIT 1;
""" 
cursor.execute(query8)
result8 = cursor.fetchall()
print("\n8. Find the Most Common Day of the Week a Book Was Borrowed:")
for row in result8:

    print(row)

8. Find the Most Common Day of the Week a Book Was Borrowed:
(5, '3')