In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("library.db")
cursor = connection.cursor()

In [6]:
query1 = """SELECT * FROM Books;"""
cursor.execute(query1)
results1 = cursor.fetchall()
print(results1)

[(1, "Harry Potter and the Sorcerer's Stone", 'Fantasy', 1), (2, 'Harry Potter and the Chamber of Secrets', 'Fantasy', 1), (3, 'A Game of Thrones', 'Fantasy', 2), (4, 'The Hobbit', 'Fantasy', 3), (5, 'Murder on the Orient Express', 'Mystery', 4), (6, 'The Shining', 'Horror', 5), (7, 'Foundation', 'Science Fiction', 6), (8, "The Handmaid's Tale", 'Dystopian', 7), (9, 'Pride and Prejudice', 'Romance', 8), (10, 'Great Expectations', 'Classic', 9), (11, 'Adventures of Huckleberry Finn', 'Adventure', 10), (12, 'War and Peace', 'Historical Fiction', 11), (13, 'The Old Man and the Sea', 'Classic', 12), (14, 'The Great Gatsby', 'Classic', 13), (15, 'To Kill a Mockingbird', 'Classic', 14), (16, 'Les Miserables', 'Classic', 15), (17, 'One Hundred Years of Solitude', 'Magic Realism', 16), (18, 'Beloved', 'Historical Fiction', 17), (19, 'The Time Machine', 'Science Fiction', 18), (20, 'Frankenstein', 'Horror', 20)]

In [9]:
query2 = """SELECT * FROM Borrowers WHERE Name = 'Bob Smith'; """
cursor.execute(query2)
results2 = cursor.fetchall()
print(results2)

[(2, 'Bob Smith', 'bob.smith@example.com')]

In [14]:
query3 = """SELECT DISTINCT BB.BookID FROM BorrowedBooks AS BB ORDER BY BB.BookID DESC;"""
cursor.execute(query3)
results3 = cursor.fetchall()
print(results3)

[(20,), (18,), (17,), (16,), (14,), (13,), (11,), (9,), (8,), (7,), (6,), (5,), (4,), (3,), (1,)]

In [29]:
query4 = """INSERT INTO Authors (Name, Country) VALUES ('Lucy Smith', 'Morroco');"""
cursor.execute(query4)
connection.commit()