In [1]:
connection = sqlite3.connect("library.db")
cursor = connection.cursor()
query1 = """
SELECT 
    Books.Title AS BookTitle,
    Authors.Name AS AuthorName
FROM 
    Books
JOIN 
    Authors
ON 
    Books.AuthorID = Authors.AuthorID;
"""
cursor.execute(query1)
results1 = cursor.fetchall()
for row in results1:
    print(f"Book: {row[0]}, Author: {row[1]}")

# 2. Insert a new borrower
query2 = """
INSERT INTO Borrowers (Name, Email)
VALUES ('Bruce Wayne', 'bruce.wayne@example.com');
"""
cursor.execute(query2)
connection.commit() 
print("New borrower 'Bruce Wayne' added.")

# 3. Update a borrower's return date
print("\n3. Update a Borrower's Return Date:")
query3 = """
UPDATE BorrowedBooks
SET ReturnDate = '2024-11-18'
WHERE BorrowerID = 2 AND BookID = 3;
"""
cursor.execute(query3)
connection.commit()

# 4. Advanced Query: Find overdue books
print("\n4. Overdue Books:")
query4 = """
SELECT 
    BorrowedBooks.BorrowedID,
    Borrowers.Name AS BorrowerName,
    Books.Title AS BookTitle,
    BorrowedBooks.BorrowedDate
FROM 
    BorrowedBooks
JOIN 
    Borrowers
ON 
    BorrowedBooks.BorrowerID = Borrowers.BorrowerID
JOIN 
    Books
ON 
    BorrowedBooks.BookID = Books.BookID
WHERE 
    BorrowedBooks.ReturnDate IS NULL
    AND BorrowedBooks.BorrowedDate < DATE('2024-11-08'); -- Assuming a 10-day loan period
"""
cursor.execute(query4)
results4 = cursor.fetchall()
for row in results4:
    print(f"BorrowedID: {row[0]}, Borrower: {row[1]}, Book: {row[2]}, Borrowed Date: {row[3]}")

# Close the connection
connection.close()

NameError: name 'sqlite3' is not defined